html,body{
    margin: 0;
    padding: 0;
    background-color: rgb(208, 167, 224);
}



.center{

    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    color: rgb(235, 235, 235);
}

#botao{
    height:30px; 
    margin: -20px -50px; 
    position:relative;
    left:50%;
    color: rgb(0, 0, 0);
    background-color: rgb(162, 33, 212);
    cursor: pointer;
}